
/****** Object:  Table [dbo].[Phrases]    Script Date: 4/21/2018 11:12:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phrases](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LogID] [int] NOT NULL,
	[Phrase] [nvarchar](max) NULL,
	[SeqNo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhraseWords]    Script Date: 4/21/2018 11:12:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhraseWords](
	[PhraseID] [int] NOT NULL,
	[WordID] [int] NOT NULL,
	[SeqNo] [int] NULL,
 CONSTRAINT [PK_PhraseWords] PRIMARY KEY CLUSTERED 
(
	[PhraseID] ASC,
	[WordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TextLog]    Script Date: 4/21/2018 11:12:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TextLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SourceText] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Words]    Script Date: 4/21/2018 11:12:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Words](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Word] [nvarchar](500) NULL,
PRIMARY KEY NONCLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Phrases]  WITH CHECK ADD  CONSTRAINT [FK_Phrases_TextLog] FOREIGN KEY([LogID])
REFERENCES [dbo].[TextLog] ([ID])
GO
ALTER TABLE [dbo].[Phrases] CHECK CONSTRAINT [FK_Phrases_TextLog]
GO
ALTER TABLE [dbo].[PhraseWords]  WITH CHECK ADD  CONSTRAINT [FK_PhraseWords_Phrases] FOREIGN KEY([PhraseID])
REFERENCES [dbo].[Phrases] ([ID])
GO
ALTER TABLE [dbo].[PhraseWords] CHECK CONSTRAINT [FK_PhraseWords_Phrases]
GO
ALTER TABLE [dbo].[PhraseWords]  WITH CHECK ADD  CONSTRAINT [FK_PhraseWords_Words] FOREIGN KEY([WordID])
REFERENCES [dbo].[Words] ([ID])
GO
ALTER TABLE [dbo].[PhraseWords] CHECK CONSTRAINT [FK_PhraseWords_Words]
GO
